<main class="main">
  <section class="aboutUs">
    <div class="img_container">
      <picture class="picture">
        <source media="(max-width: 767px)" srcset="../../../assets/about/mobile/image-hero-whitecup.jpg">
        <source media="(max-width: 1199px)" srcset="../../../assets/about/tablet/image-hero-whitecup.jpg">
        <source media="(min-width: 1200px)" srcset="../../../assets/about/desktop/image-hero-whitecup.jpg">
        <img src="../../../assets/about/mobile/image-hero-whitecup.jpg" class="image" alt="About us">
      </picture>
    </div>
    <article class="aboutUs_info">
      <h1 class="aboutUs_title">
        About Us
      </h1>
      <p class="aboutUs_description">
        Coffeeroasters began its journey of exotic discovery in 1999, highlighting stories of
        coffee from around the world. We have since been dedicated to bring the perfect cup - from
        bean to brew - in every shipment.
      </p>
    </article>
  </section>
</main>
