<main class="main">
  <section class="main_img">
    <div class="img_container">
      <picture class="picture">
        <source media="(max-width: 767px)" srcset="../../../assets/plan/mobile/image-hero-blackcup.jpg">
        <source media="(max-width: 1199px)" srcset="../../../assets/plan/tablet/image-hero-blackcup.jpg">
        <source media="(min-width: 1200px)" srcset="../../../assets/plan/desktop/image-hero-blackcup.jpg">
        <img src="../../../assets/plan/mobile/image-hero-blackcup.jpg" class="image" alt="Create a plan">
      </picture>
    </div>
    <article class="main_img_content">
      <h1 class="main_img_content-title">
        Create a plan
      </h1>
      <p class="main_img_content-description">
        Build a subscription plan that best fits your needs. We offer an assortment of the best
        artisan coffees from around the globe delivered fresh to your door.
      </p>
    </article>
  </section>

  <section class="steps">
    <div class="draw">
      <div class="line"></div>
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
    </div>
    <ul class="steps_list">
      <li class="step" *ngFor="let step of steps">
        <span class="step_number">
          {{step.number}}
        </span>
        <h3 class="step_name">
          {{step.stepName}}
        </h3>
        <p class="step_description">
          {{step.stepDescription}}
        </p>
      </li>
    </ul>
  </section>

  <section class="order">
    <ul class="index_list" #index_list>

        <li class="index_item {{item.id}}" *ngFor="let item of indexList, let i = index" #indexItem>
            <article class="item_info">
              <p class="number">
                {{item.number}}
              </p>
              <h4 class="name">
                {{item.name}}
              </h4>
            </article>
          <span class="border_bottom" *ngIf="i < indexList.length - 1"></span>
        </li>

    </ul>

    <ul class="listOfOptions" #listOfOptions>
      <li class="option" *ngFor="let option of options">
        <div class="question_and_arrow_div" #openDropDownDiv (click)="openDropDown(openDropDownDiv)">
          <h2 class="question">
            {{option.question}}
          </h2>
          <svg class="arrow" width="19" height="13" xmlns="http://www.w3.org/2000/svg"><path d="M15.949.586l2.828 2.828-9.096 9.096L.586 3.414 3.414.586l6.267 6.267z" fill="#0E8784" fill-rule="nonzero"/></svg>
        </div>
        <ul class="inner_options_list">
          <li class="inner_option" (click)="addActiveClass(li); selectOption(li, innerOption.optionName, index_list)" #li *ngFor="let innerOption of option.innerOptions" id="{{option.id}}">
            <h3 class="inner_option_name">
              {{innerOption.optionName}}
            </h3>
            <p class="inner_option_description">
              {{innerOption.optionDescription}}
            </p>
          </li>
        </ul>
      </li>
    </ul>
  </section>

  <section class="order_summary">
    <article class="order_summary_info">
      <h3 class="order_summary_title">
        ORDER SUMMARY
      </h3>
      <p class="order_summary_text" *ngIf="howYouDrinkYourCoffee !== 'Capsule'">
        “I drink coffee <span [ngClass]="{'underline': howYouDrinkYourCoffee === ''}">{{howYouDrinkYourCoffee !== '' ? howYouDrinkYourCoffee : '_____'}}</span>, with a <span [ngClass]="{'underline': typeOfCoffee === ''}">{{typeOfCoffee !== '' ? typeOfCoffee : '_____'}}</span> type of bean. <span [ngClass]="{'underline': howMuch === ''}">{{howMuch !== '' ? howMuch : '_____'}}</span> ground ala <span [ngClass]="{'underline': grind === ''}">{{grind !== '' ? grind : '_____'}}</span>, sent to me <span [ngClass]="{'underline': howOften === ''}">{{howOften !== '' ? howOften : '_____'}}</span>.”
      </p>
      <p class="order_summary_text" *ngIf="howYouDrinkYourCoffee === 'Capsule'">
        “I drink my coffee using <span>{{howYouDrinkYourCoffee}}</span>, with a <span [ngClass]="{'underline': typeOfCoffee === ''}">{{typeOfCoffee !== '' ? typeOfCoffee : '_____'}}</span> type of bean. <span [ngClass]="{'underline': howMuch === ''}">{{howMuch !== '' ? howMuch : '_____'}}</span>,
        sent to me <span [ngClass]="{'underline': howOften === ''}">{{howOften !== '' ? howOften : '_____'}}</span>.”
      </p>
    </article>
    <button class="order_button">Create my plan!</button>
  </section>
</main>
