<main class="main">
  <section class="main_img">
    <div class="img_container">
      <picture class="picture">
        <source media="(max-width: 767px)" srcset="../../../assets/plan/mobile/image-hero-blackcup.jpg">
        <source media="(max-width: 1199px)" srcset="../../../assets/plan/tablet/image-hero-blackcup.jpg">
        <source media="(min-width: 1200px)" srcset="../../../assets/plan/desktop/image-hero-blackcup.jpg">
        <img src="../../../assets/plan/mobile/image-hero-blackcup.jpg" class="image" alt="Create a plan">
      </picture>
    </div>
    <article class="main_img_content">
      <h1 class="main_img_content-title">
        Create a plan
      </h1>
      <p class="main_img_content-description">
        Build a subscription plan that best fits your needs. We offer an assortment of the best
        artisan coffees from around the globe delivered fresh to your door.
      </p>
    </article>
  </section>
</main>
